.basket-title{
padding-left: 110px;
font-weight: bold;
color: #000000;

}

.basket-book-item{
padding-left: 110px;
padding-top: 9px;

}

.basket-button-buy-all{
position: absolute;
  right: 120px;
}

.basket-content-view{
background: #830303;
color: white;
}

.basket-delete-button{
background: #434343;
color: white;
}

