.book-item {
    width: 100%;
    max-width: 120px;
    padding: 30px;
    margin-right: 50px;
    cursor: pointer;
}

.book-item-image {
    width: 145px;
    height: 210px;
}

.book-content-item-image{
padding-left: 100px;

weight: 350px;
height: 450px;

}

.book-content-item-column{
padding-top: 50px;
padding-left: 70px;
}

.book-content-item-button{
padding-top: 189px;
padding-left: 5px;
}

.book-content-item-column-author{
padding-top: 35px;
padding-left: 70px;
}

.view-color-title{
color: #000000;

}
.book-content-item-column-genre{
padding-left: 70px;

}

.book-content-background{
background: #f2f2f2;
}

.tag-margin{
margin-left: 10px
}

.book-label{
font-weight: bold;
color: #000000;

}



